html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





.bigbox {
	position: relative;
    height: 400px;
    width: 400px;
    margin-top: 50px;
    margin-left: 50px;
	display: flex;
}

.container1 {
    background-color: green;
	height: 300px;
	width: 200px;
}

.container2 {
    background-color: blue;
    position: relative;
	height: 300px;
	width: 200px;
}

.box1 {
    background-color: black;
	position: absolute;
	height: 100px;
	width: 100px;
	right: 0px;
	top: 0px
}

.container3 {
    background-color: orange;
    position: absolute;
	height: 100px;
	width: 400px;
	bottom: 0;

}

.container6 {
	position: absolute;
	background-color: gray;
	height: 250px;
	width: 250px;
	bottom: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box6 {
	background-color: orange;
	height: 50px;
	width: 50px;
}